@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./font/MaterialIcons-Regular.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
/*  display: inline-block; */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.book {
}

.book_toc {
    background-color: var(--color-bg);
    height: -webkit-fill-available;
    overflow-y: auto;
}

.book_content {
}

.book_toc table {
    width: -webkit-fill-available;
}

.book_toc table caption {
    text-align: left;
    font-weight: bold;
    font-size: 120%;
}

.toc {
    cursor: default;
    background-color: transparent;
    padding: 5px;
    vertical-align: middle;
    width: -webkit-fill-available;
}

.toc:hover ,
.toc:focus:not(.selected) {
    background-color: var(--color-hover);
}

.toc.selected {
    background-color: var(--color-selected);
    color: white;
}

.toc.indent {
    padding-left: 40px;
}

.toc input[type=button] {
    visibility: hidden;
    display: inline-block;
    float: right;
    margin: 5px;
}

.toc:hover input[type=button] {
    visibility: visible;
}

.toc.selected input[type=button] {
    visibility: visible;
    color: white;
}

.toc .button-primary {
    visibility: hidden;
    display: inline-block;
    float: right;
    margin: 5px;
}

.toc:hover .button-primary {
    visibility: visible;
}

.toc.selected .button-primary {
    visibility: visible;
    color: white;
}

.toc .button-primary .delete {
    icon: url(./images/trash.png);
}

.toc span {
    height: -webkit-fill-available;
    vertical-align: middle;
}

.book_content div {
}

.preview_title {
    font-weight: bold;
    padding-left: 5px;
}

.preview_container {
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    margin: 5px;
    padding: 5px;
}

.hide {
    display: none !important;
}

input .fill_available {
    width: -webkit-fill-available;
}

:root {
  --color-hover:      hsl(0,0%,88%);
  --color-selected:   rgb(60, 100, 195);

  --color-border:   hsl(0,0%,88%);
  --color-bg:       hsl(0,0%,96%);
  --color-font:     hsl(0,0%,0%);

  --color-accent:   black; /* Fallback */
}

