.book {
}

.book_toc {
    background-color: var(--color-bg);
}

.book_content {
}

.book_toc table {
}

.book_toc table caption {
    text-align: left;
    font-weight: bold;
    font-size: 120%;
}

.toc {
    cursor: default;
    background-color: transparent;
    padding: 5px;
}

.toc:hover ,
.toc:focus:not(.selected) {
    background-color: var(--color-hover);
}

.toc.selected {
    background-color: var(--color-selected);
    color: white;
}

.toc.indent {
    padding-left: 40px;
}

.toc:hover input[type=button] {
    visibility: visible
}

.toc.selected input[type=button] {
    visibility: visible;
    color: white;
}

.toc input[type=button] {
    visibility: hidden;
}

.book_content div {
}

.preview_title {
    font-weight: bold;
    padding-left: 5px;
}

.preview_container {
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    margin: 5px;
    padding: 5px;
}

:root {
  --color-hover:      hsl(0,0%,88%);
  --color-selected:   rgb(60, 100, 195);

  --color-border:   hsl(0,0%,88%);
  --color-bg:       hsl(0,0%,96%);
  --color-font:     hsl(0,0%,0%);

  --color-accent:   black; /* Fallback */
}

