@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./font/MaterialIcons-Regular.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;  /* Preferred icon size */
/*  display: inline-block; */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--color-font);

    width: -webkit-fill-available;
    height: -webkit-fill-available;
    min-width: 640px;
    min-height: 480px;
    -webkit-user-select: none; 
}

div {
    flex: auto;
    padding: 5px;
}
.one-row { display: flex; flex-flow: row; }
.one-column { display: flex; flex-flow: column; }

flex.columns { flex: auto; }
.two.columns { flex: none; width: 20%; }
.four.columns { flex: none; width: 40%; }
.one-half.columns { flex: none; width: 50%; }

.fullheight {
    height: 100%;
}

.fullwidth {
    width: 100%;
}

.vscrollable {
    overflow-y: auto;
}

.book_toc {
    background-color: var(--color-bg);
}

.book_content {
}

.selectable td {
    cursor: default;
}

.toc {
    cursor: default;
    background-color: transparent;
    padding: 5px;
    vertical-align: middle;
    width: -webkit-fill-available;
}

.selectable td:hover ,
.selectable td:focus:not(.selected) {
    background-color: var(--color-hover);
}

.selectable td.selected {
    background-color: var(--color-selected);
    color: white;
}

.toc.indent {
    padding-left: 40px;
}

.toc input[type=button] {
    visibility: hidden;
    display: inline-block;
    float: right;
    margin: 2px;
}

.toc:hover input[type=button] {
    visibility: visible;
}

.toc.selected input[type=button] {
    visibility: visible;
    color: white;
}

.toc .button-primary {
    visibility: hidden;
    display: inline-block;
    float: right;
    margin: 2px;
}

.toc:hover .button-primary {
    visibility: visible;
}

.toc.selected .button-primary {
    visibility: visible;
    color: white;
}

.toc .button-primary .delete {
    icon: url(./images/trash.png);
}

.toc span {
    height: -webkit-fill-available;
    vertical-align: middle;
}

.preview_title {
    font-weight: bold;
    padding-left: 5px;
}

.preview_container {
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    margin: 5px;
    padding: 5px;
}

.hide {
    display: none !important;
}

input .fill_available {
    width: -webkit-fill-available;
}

:root {
  --color-hover:      hsl(0,0%,88%);
  --color-selected:   rgb(60, 100, 195);

  --color-border:   hsl(0,0%,88%);
  --color-bg:       hsl(0,0%,96%);
  --color-font:     hsl(0,0%,0%);

  --color-accent:   black; /* Fallback */
}

.message {
    padding: 5px;
}

.error {
    color: red;
}
