@page {
    margin-bottom: 5pt;
    margin-top: 5pt
}

body{
  margin:0px;
  padding: 0.5em;
  background-color:#F6F3E9;
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
}

.calibreMeta{
  background-color:#39322B;
  color:white;
  padding:10px;
}

.calibreMeta a, .calibreEbNav a, .calibreEbNavTop a, .calibreToc a{
  color:white;
}

.calibreMeta h1{
  margin:0px;
  font-size:18px;
  background-color:#39322B;
}

.calibreEbookContent{
  padding:20px;
}

.calibreEbNav, .calibreEbNavTop{
  clear:both;
  background-color:#39322B;
  color:white;
  padding:10px;
  text-align:center;
}

.calibreEbNavTop{
  margin-bottom:20px;
}

.calibreEbNav a, .calibreEbNavTop a{
  padding:0px 5px;
}

.calibreTocIndex{
  line-height:18px;
}

.calibreToc{
  float:left;
  margin:20px;
  width:300px;
  background-color:#39322B;
  color:white;
  padding:10px;
}
.calibreEbookContent{
  width:600px;
  float:left;
}
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
}

.calibre1 {
    display: block
}

.calibre2 {
    display: block;
    text-align: center
}

.calibre3 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em
}

.calibre4 {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 2em
}

.cover {
    height: auto;
    width: auto
}
